<template>
  <div>
    <div
      ref="ankr"

      @pointerdown="handleDown"
      @pointerup="handleUp"
      @pointercancel="handleUp"
      @click="handleClick"

      class="ankr"
      :class="{ 'ankr--smooth-snap': snap && !drag }"
      :style="style"
    >
      <div class="ankr__wrapper">
        <slot class="ankr__element">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Vue.png"
            alt="icon"
            class="ankr-icon"
          />
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
import ankr from "ankr";

export default {
  name: "Ankr",
  props: {
    nHorizontal: {
      default: ankr.HORIZONTAL_NUMBER_OF_ANCHORS
    },
    nVertical: {
      default: ankr.VERTICAL_NUMBER_OF_ANCHORS
    },
    snap: {
      default: true
    },
    i: {
      default: 0
    },
    space: {
      default: () => [0, 0]
    },
    padding: {
      default: () => [0, 0]
    },
    margin: {
      default: () => [0, 0]
    },
    edgeOnly: {
      default: true
    }
  },
  data() {
    return {
      x: 0,
      y: 0,
      drag: false,
      anchors: []
    };
  },
  computed: {
    style() {
      let [i, [x, y]] = [this.i, [this.x, this.y]];
      if (this.snap && !this.drag) {
        [i, [x, y]] = ankr.closestAnchor([x, y], this.anchors);
      }
      return {
        left: `${x}px`,
        top: `${y}px`,
        position: "fixed"
      };
    }
  },
  created() {
    window.addEventListener("resize", this.snapToNearestAnchor);
    window.addEventListener("resize", this.calculateAnchors);
    this.calculateAnchors();
    let index = this.i < this.anchors.length ? this.i : 0;
    let anchor = this.anchors[index];
    this.x = anchor[0];
    this.y = anchor[1];
  },

  methods: {
    calculateAnchors() {
      this.anchors = ankr.anchors({
        dimension: [ankr.pageWidth(), ankr.pageHeight()],
        space: this.space,
        padding: this.padding,
        margin: this.margin,
        anchors: [this.nHorizontal, this.nVertical],
        edgeOnly: this.edgeOnly
      });
    },
    snapToNearestAnchor() {
      let [i, [x, y]] = [0, [this.x, this.y]];
      [i, [x, y]] = ankr.closestAnchor([x, y], this.anchors);
      [this.i, [this.x, this.y]] = [i, [x, y]];
    },
    handleMove({ pageX, pageY, clientX, clientY }) {
      if (this.$refs.ankr) {
        this.x = pageX + this.left;
        this.y = pageY + this.top;
        this.drag = true;
      }
    },
    handleDown(event) {
      const { pageX, pageY } = event;
      const { left, top } = this.$refs.ankr.getBoundingClientRect();

      this.left = left - pageX;
      this.top = top - pageY;
      document.addEventListener("pointermove", this.handleMove);
    },
    handleUp(event) {
      document.removeEventListener("pointermove", this.handleMove);
      setTimeout(() => (this.drag = false), 50);
    },
    handleClick(event) {
      if (!this.drag) {
        //change click only if not draged
        this.click = !this.click;
        this.$emit("ankr:click", event);
      }
    }
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.snapToNearestAnchor);
    window.removeEventListener("resize", this.calculateAnchors);
  }
};
</script>

<style>
.ankr__wrapper {
  border: solid 1px transparent;
  border-radius: 50%;
  box-shadow: 0px 2px 10px #888888;
  width: 50px;
  height: 50px;
}

.ankr-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: auto;
  padding: 10px 0px;
  width: 30px;
  height: 30px;
}

.ankr__wrapper > * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.ankr {
  z-index: 1000;
}

.ankr--smooth-snap {
  transition: all 1s ease;
}
</style>
